<div ng-controller = "todoController">
  {{message}}
  <header>
    <p>hello</p>
    <h1>Nicky</h1>
  </header>

  <section class = "goal">
    <h2>What are your goals for today?</h2>
  </section>

  <div ng-repeat = "todo in todos">
    <section class = "all-todos">
      <input type = "checkbox" ng-model = "iDontDidIt"/>
      <label ng-hide = "editing" class = "todo-label">{{todo.todo}}</label>
      <input ng-show = "editing" ng-model = "todo.todo" class = "todo-input" type="text"/>
    </section>
  </div>

    <section class = "buttons">
      <a href="" ng-click = "editing =! editing">edit</a>
      <a href ="" class="delete">delete</a>
    </section>



</div>
