$font-color: white;
$header-font: 'Quattrocento', serif;
$todo-font: 'Questrial', sans-serif;

html {
  font-size: 1em;
}

body {
  background-image: url("https://images.unsplash.com/photo-1445346366695-5bf62de05412?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375");
  // -webkit-background-size: cover;
}

header{
  font-family: $header-font;
  margin-top: 5%;
  color: rgb(52, 73, 94);
  text-align: center;
  text-transform: uppercase;


  p{
    font-weight: 700;
    margin-bottom: 0;
    font-size: 1.5em;
    letter-spacing: 10px;
  }

  h1{
    margin-top: 0;
    font-size: 3em;
  }
}

h2{
  font-family: $header-font;
  text-align: center;
  color: white;
}

.all-todos{
  text-align: center;
  color: white;

  .todo-label {
    font-family: $todo-font;
    font-size: 1.2em;
  }

  .todo-input {
    font-family: $todo-font;
    color: rgb(52, 73, 94);
  }
}

.buttons {
  text-align: center;

  a{
    font-family: $todo-font;
    color: white;
  }
}
